@CHARSET "UTF-8";

#server {
    visibility: hidden;
}

#rows {
    visibility: hidden;
}

#cols {
    visibility: hidden;
}

hr {
    color: #23587A;
    border-bottom:1px #23587A solid;
}

div#term {
    position: relative;
    overflow: auto;
    border: 5px groove #444444;
    font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
    font-size: 10px;
    color: #f0f0f0;
    background: #000;
    width: inherit;
    height: inherit;
}

.terminal-cursor {
    color: #000;
    background: #f0f0f0;
}


